<section class="elementor-section elementor-top-section elementor-element elementor-element-16d1ae9a elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch" data-element_type="section" data-id="16d1ae9a">
<div class="elementor-container elementor-column-gap-no">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5edc3a78" data-element_type="column" data-id="5edc3a78">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-e255d75 skip-lazy elementor-hidden-mobile_extra elementor-hidden-mobile elementor-widget elementor-widget-tm-slider-slideshow" data-element_type="widget" data-id="e255d75" data-settings='{"swiper_items":"1","swiper_items_tablet":"1","swiper_items_mobile":"1"}' data-widget_type="tm-slider-slideshow.default">
<div class="elementor-widget-container">
<div class="tm-slider-slideshow tm-slider-slideshow--style-1 tm-slider-slideshow--content-reverse">
<div class="tm-swiper tm-slider-widget use-elementor-breakpoints pagination-style-01 bullets-horizontal bullets-h-align-center bullets-v-align-bottom pagination-hidden" data-effect="fade" data-gutter-desktop="0" data-gutter-mobile="0" data-gutter-tablet="0" data-items-desktop="1" data-items-group-desktop="1" data-items-group-mobile="1" data-items-group-tablet="1" data-items-mobile="1" data-items-tablet="1" data-pagination="1" data-pagination-aligned-by="slider" style="--ken-burn-speed: ms">
<div class="swiper-inner">
<div class="swiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
<div aria-live="polite" class="swiper-wrapper" data-active-items="1" id="swiper-wrapper-bf713748d491a212">
<div aria-label="1 / 1" class="swiper-slide elementor-repeater-item-7bbe48c tm-slider-slideshow-slide-bg-animation- swiper-slide-visible swiper-slide-active minimog-slide-active" role="group" style="width: 1905px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
<div class="slide-wrapper">
<div class="slide-bg-wrap">
<div class="slide-bg"></div>
</div>
<div class="slide-content">
<div class="slide-layers">
<div class="slide-layer-wrap sub-title-wrap">
<div class="slide-layer">
<h4 class="sub-title">SÄLJ &amp; KÖP PRELOVED BARNKLÄDER</h4> </div>
</div>
<div class="slide-layer-wrap title-wrap">
<div class="slide-layer">
<h3 class="title">mini store</h3> </div>
</div>
<div class="slide-layer-wrap description-wrap">
<div class="slide-layer">
<div class="description">- där barnkläder får leka vidare.
Hitta nya favoriter hos oss!</div>
</div>
</div>
<div class="slide-layer-wrap button-wrap">
<div class="slide-layer">
<div class="tm-button-wrapper">
<a class="tm-button style-flat" href="https://mini-store.se/barnklader/">
<div class="button-content-wrapper">
<span class="button-text">
														UTFORSKA BUTIKEN
																											</span>
</div>
</a>
</div>
</div>
</div>
</div>
<!--Footer-->
</div>
</div>
</div>
</div>
<span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span></div>
</div>
<div class="swiper-pagination-container"><div class="swiper-pagination-wrap"><div class="swiper-pagination-inner"><div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span aria-current="true" aria-label="Go to slide 1" class="swiper-pagination-bullet swiper-pagination-bullet-active" role="button" tabindex="0"></span></div></div></div></div></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-6bc188af skip-lazy elementor-hidden-widescreen elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-hidden-tablet elementor-widget elementor-widget-tm-slider-slideshow" data-element_type="widget" data-id="6bc188af" data-settings='{"swiper_items":"1","swiper_items_tablet":"1","swiper_items_mobile":"1"}' data-widget_type="tm-slider-slideshow.default">
<div class="elementor-widget-container">
<div class="tm-slider-slideshow tm-slider-slideshow--style-1">
<div class="tm-swiper tm-slider-widget use-elementor-breakpoints pagination-style-01 bullets-horizontal bullets-h-align-center bullets-v-align-bottom pagination-hidden" data-effect="fade" data-gutter-desktop="0" data-gutter-mobile="0" data-gutter-tablet="0" data-items-desktop="1" data-items-group-desktop="1" data-items-group-mobile="1" data-items-group-tablet="1" data-items-mobile="1" data-items-tablet="1" data-pagination="1" data-pagination-aligned-by="slider" style="--ken-burn-speed: ms">
<div class="swiper-inner">
<div class="swiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
<div aria-live="polite" class="swiper-wrapper" data-active-items="1" id="swiper-wrapper-811748ff4a8cebc1" style="transition-duration: 0ms;">
<div class="swiper-slide elementor-repeater-item-7bbe48c tm-slider-slideshow-slide-bg-animation-">
<div class="slide-wrapper">
<div class="slide-bg-wrap">
<div class="slide-bg"></div>
</div>
<div class="slide-content">
<div class="slide-layers">
<div class="slide-layer-wrap sub-title-wrap">
<div class="slide-layer">
<h4 class="sub-title">SÄLJ &amp; KÖP PRELOVED BARNKLÄDER</h4> </div>
</div>
<div class="slide-layer-wrap title-wrap">
<div class="slide-layer">
<h3 class="title">mini store</h3> </div>
</div>
<div class="slide-layer-wrap description-wrap">
<div class="slide-layer">
<div class="description">- där barnkläder får leka vidare.
Hitta nya favoriter hos oss!</div>
</div>
</div>
<div class="slide-layer-wrap button-wrap">
<div class="slide-layer">
<div class="tm-button-wrapper">
<a class="tm-button style-flat" href="https://mini-store.se/barnklader/">
<div class="button-content-wrapper">
<span class="button-text">
														UTFORSKA BUTIKEN
																											</span>
</div>
</a>
</div>
</div>
</div>
</div>
<!--Footer-->
</div>
</div>
</div>
</div>
<span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span></div>
</div>
<div class="swiper-pagination-container"><div class="swiper-pagination-wrap"><div class="swiper-pagination-inner"><div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div></div></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>