<section class="elementor-section elementor-top-section elementor-element elementor-element-36ea307c elementor-section-boxed elementor-section-gap-beside-yes elementor-section-height-default elementor-section-height-default elementor-section-content-align-center elementor-section-column-vertical-align-stretch" data-element_type="section" data-id="36ea307c">
<div class="elementor-container elementor-column-gap-extended">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3a204e1" data-element_type="column" data-id="3a204e1">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-5c1784c elementor-widget elementor-widget-tm-heading" data-element_type="widget" data-id="5c1784c" data-widget_type="tm-heading.default">
<div class="elementor-widget-container">
<div class="tm-modern-heading tm-modern-heading--style-02 tm-modern-heading--highlight-style-01">
<div class="heading-secondary-wrap">
<h4 class="heading-secondary elementor-heading-title">VÅR BUTIK</h4> </div>
<div class="heading-primary-wrap">
<h2 class="heading-primary elementor-heading-title">Nu har vi öppnat online! Vi fortsätter att köpa in barnkläder som vanligt – och nu kan du också börja fynda i vår sprillans nya webbshop. Nyfiken på vår fysiska butik? Vi håller dig uppdaterad så fort det är på gång!</h2> </div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-66b98f3 elementor-align-center elementor-widget elementor-widget-tm-button" data-element_type="widget" data-id="66b98f3" data-widget_type="tm-button.default">
<div class="elementor-widget-container">
<a class="tm-button-link tm-button style-flat tm-button-nm" href="https://mini-store.se/salja/" role="button">
<div class="button-content-wrapper">
<div class="button-text">
			
			Sälj dina kläder till oss
			
					</div>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</section>